.DS_Store
.vscode
.vs
*.svd
*.userprefs
*.csproj
*.csproj.meta
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.orig.meta
*.DotSettings
*.idea
.~lock*

[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Uu]serSettings/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
BuildScripts
Assets/AssetStoreTools*

*.pidb.meta
*.pdb.meta